<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
 
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/style.css">

  <script defer src="http://localhost:3003/socket.io/socket.io.js"></script>
  <script defer src="js/vendor/d3.v6.min.js"></script>
  <script defer src="js/vendor/d3-simple-slider.min.js"></script>
  <script defer src="js/vendor/modernizr-3.11.2.min.js"></script>
  <script defer src="js/plugins.js"></script>
  <script defer src="js/linechart.js"></script>

  <% if (page) { %>
    <% if (page === 'Charts') { %>
      <script defer src="js/main.js"></script>
      <title><%= page %></title>
    <% } %>
    <% if (page === 'Logs') { %>
      <script defer src="js/logs.js"></script>
      <title><%= page %></title>
    <% } %>
  <% } %>


  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script defer>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script defer src="https://www.google-analytics.com/analytics.js" async></script>

  <meta name="theme-color" content="#fafafa">
</head>

<nav class="row between">
  <!-- <h1 class="logo">logo</h1> -->
  <div class="logoContainer">
    <img class="logo" src="/img/logo.svg" alt="">
    <div class="wave"></div>
    <div class="wave"></div>
  </div>

  <div class="nav-list row around">
    <a href="/">Charts</a>
    <a href="/logs">Logs</a>
    <!-- <a href="pages/settings.html">Settings</a> -->
  </div>
</nav>

<!-- <div class="nav-spacer">


</div> -->