//WIDTH & PADDING

.mx-1000 {
  max-width: 1000px;
}
.mx-850 {
  max-width: 850px;
}

.mx-750 {
  max-width: 750px;
}
.mx-500 {
  max-width: 500px;
}

.m-40 {
  margin: 40px 0;
}

.p-40 {
  padding: 40px;
}

.w-100 {
  width: 100% !important;
}
.w-50 {
  width: 50%;
}
.w-33 {
  width: 33.333%;
}
.w-66 {
  width: 66.666%;
}
.w-25 {
  width:25%;
}
.w-75 {
  width:75%;
}